
@{
    ViewData["Title"] = "Index";
}


<div class="card text-white bg-secondary mb-3">
    <div class="card-header px-3 py-2">
        <h1 class="card-title display-4" >ASP.NET Core SPA Project</h1>
        <h2 class="card-subtitle display-5">Implemented using JavsScript & jQuery</h2>
    </div>
         
    <div class="card-footer">
        <a asp-action="Index" asp-controller="SPA" class="btn btn-primary">Go to SPA Page</a>
    </div>
</div>
